# Midterm take-home

<p>Instructions
<ol>
<li>Download the file <i>appointments.csv</i> into the same folder as the current Jupyter notebook
<li>Run the code below and then answer the questions
</ol></p>

<b>Penalties:</b> You will incur penalties if:
<ul>
<li>Your answer is different from the correct one</li>
<li>Your code is unncessarily slow</li>
<li>Your code is longer than specified</li>
<li>You will be penalized if, in an attempt to limit the lines of code, you make your code too hard to read or too slow -- for example, by copy-pasting pieces of code in the same line instead of declaring a variable in one line and using the variable in another.
</ul>

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('appointments.csv', index_col=0)

## Data Description

In [2]:
df.head()

,AppointmentID,MRN,Appt Date,Appt Time,Appointment Status,Time When Appt Arrived,Date When Appt Scheduled,CAN or BMP Date,Provider ID,Gender,Patient Age at Appt Date,Marital Status,Employment Status
0,1,12067,2013-12-23,900,Cancelled,NaN,2013-09-04,2013-12-11,15,F,52,MARRIED,NOT EMPLOYED
1,2,7264,2013-11-14,780,Arrived,759.0,2013-05-20,NaN,15,F,33,MARRIED,NOT EMPLOYED
2,3,9903,2013-10-16,720,Arrived,708.0,2013-06-12,NaN,15,F,40,MARRIED,EMPLOYED FULL TIME
3,4,9588,2012-12-13,720,Arrived,712.0,2012-11-19,NaN,15,F,25,SINGLE,EMPLOYED FULL TIME
4,5,8131,2011-03-24,600,Bumped,NaN,2010-03-25,2010-11-10,15,F,57,DIVORCED,EMPLOYED FULL TIME

In [3]:
len(df)

41631

This is an appointment data set for an undisclosed outpatient clinic. One row corresponds to an appointment. Each appointment is characterized by the following attributes:
<ul>
<li><b>AppointmentID</b>: The unique identifier of the appointment.
<li><b>MRN</b>: The unique identifier of the patient (MRN = Medical Record Number).
<li><b>Appt Date</b>: The date when the appointment took place.
<li><b>Appt Time</b>: The time (expressed in minutes after midnight) when the appointment took place.
<li><b>Appointment Status</b>: The outcome of the appointment. 
    <ul>
    <li><i>Arrived</i>: the appointment took place regularly.
    <li><i>Cancelled</i>: the appointment was cancelled by the patient before taking place. 
    <li><i>Bumped</i>: the appointment was cancelled by the provider.
    <li><i>No Show</i>: the patient did not show up for the appointment.
    <li><i>Pending</i>: the appointment did not take place yet in the moment when the data was pulled.
    </ul>
<li><b>Time When Appt Arrived</b>: The time (expressed in minutes after midnight) when the patient checked in on the appointment day.
<li><b>Date When Appt Scheduled</b>: The day when the appointment was scheduled
<li><b>CAN or BMP Date</b>: If the appointment was cancelled or bumped, the date when this even happened.
<li><b>Provider ID</b>: The id of the provider scheduled to see the patient.
<li><b>Gender</b>: The patient's gender.
<li><b>Patient Age at Appt Date</b>: The age of the patient at Appt Date.
<li><b>Marital Status</b>: The patient's marital status.
<li><b>Employment status</b>: The patient's employment status.
</ul>

## Question 1 (2 pts, $\le$ 3 lines of code)

Find whether marital status and gender affect the probability of no-show. First, you will need to make a copy of df without the appointments whose outcome is different from no-show or arrived. Then, for each existing combination of marital status and gender, find the number of appointments and their probability of no-show. <b>Use at most 3 lines of code</b>.

In [7]:
reduced = df[df['Appointment Status'].isin(['No Show','Arrived'])]

In [9]:
reduced['NoShow'] = reduced['Appointment Status'] == 'No Show'

C:\Users\Academic Technology\AppData\Local\Enthought\Canopy\User\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [15]:
reduced.groupby(['Marital Status','Gender'])['NoShow'].agg(['mean','size'])

                           mean  size
Marital Status Gender
DIVORCED       F       0.157392  2408
               M       0.172023   529
LIFE PARTNER   F       0.095238    21
MARRIED        F       0.100719  8618
               M       0.127478  3632
SEPARATED      F       0.267143   700
               M       0.250000   168
SINGLE         F       0.199116  5881
               M       0.219377  2343
UNKNOWN        F       0.409091    22
               M       0.285714    14
WIDOW          F       0.150419  1908
               M       0.183824   136

## Question 2 (2 pts, $\le$ 3 lines of code)

<p>Using the data frame constructed in Q1, find whether the lead time to the appointment affects the probability of no-show. The lead time to the appointment is the number of days elapsed from the moment when the appointment was requested to the appointment date. </p>
<p>Find the no-show probability and number of appointments for each of the following lead time intervals (pay attention to the interval boundaries):
<ul>
<li>$\le$ 10 days
<li>between 11 and 20 days
<li>between 21 and 30 days
<li>over 30 days
</ul>
<p> <b>Use at most 3 lines of code</b>. Hint: You may find the function pd.cut helpful.</p>

In [19]:
reduced['LeadTime']= reduced['Appt Date'].astype('datetime64[D]') - reduced['Date When Appt Scheduled'].astype('datetime64[D]')

C:\Users\Academic Technology\AppData\Local\Enthought\Canopy\User\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [30]:
reduced['LeadTime'] = pd.cut(reduced['LeadTime'].dt.days,bins=[0,10,20,30,10000],include_lowest=True)

C:\Users\Academic Technology\AppData\Local\Enthought\Canopy\User\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [31]:
reduced.groupby('LeadTime')['NoShow'].agg(['mean','size'])

                     mean   size
LeadTime
(-0.001, 10.0]   0.106341   5520
(10.0, 20.0]     0.151300   3655
(20.0, 30.0]     0.163856   3143
(30.0, 10000.0]  0.169864  14076

## Question 3 (6 pts, $\le$ 8 lines of code not including comments, $\le$ 20 words of explanation)

<p>Using the data frame constructed in Q1, find whether the no-show probability of a given appointment is affected by the patient's no-show behavior prior to that appointment. Do not consider first-time appointments. </p>

<p>Present your results with one table and then discuss it in at most 20 words. Make sure that your table is easy to understand; for example, try to use descriptive column headers.</p>

<p> This problem is left vague on purpose. In particular, how to analyze past no-show behavior is up to you. No help will be given to answer this question, aside from clarifications on the wording and on the data. </p>

In [34]:
merged = reduced.merge(reduced, on='MRN')

For every appointment x, get the patient's previous appointments y

In [38]:
previousAppts = merged[merged['Appt Date_x'] > merged['Appt Date_y']]

In [47]:
history = previousAppts.groupby(['AppointmentID_x','MRN','NoShow_x']).agg({
        'NoShow_y' : ['sum', 'mean', 'size']
    }).reset_index()

In [48]:
history.head()

  AppointmentID_x   MRN NoShow_x NoShow_y
                                      sum  mean size
0               2  7264    False      0.0  0.00    3
1               3  9903    False      0.0  0.00    2
2               4  9588    False      1.0  0.25    4
3               6  4706    False      0.0  0.00    1
4               8  5786    False      0.0  0.00    6

In [49]:
history.columns=['ApptID','MRN','NoShow','pastNoShows','pastNoShowRate','pastAppts']

In [50]:
history.head()

   ApptID   MRN  NoShow  pastNoShows  pastNoShowRate  pastAppts
0       2  7264   False          0.0            0.00          3
1       3  9903   False          0.0            0.00          2
2       4  9588   False          1.0            0.25          4
3       6  4706   False          0.0            0.00          1
4       8  5786   False          0.0            0.00          6

In [52]:
history.groupby('pastNoShows')['NoShow'].agg(['mean','size'])

                 mean   size
pastNoShows
0.0          0.114831  10694
1.0          0.252272   2751
2.0          0.333333    732
3.0          0.400794    252
4.0          0.456311    103
5.0          0.489362     47
6.0          0.555556     27
7.0          0.750000      8
8.0          0.600000      5
9.0          1.000000      1